{% extends "ocaccounts/outer.html" %}

{% block title %}Budget / Category List : Opencruch{% endblock %}

{% block leftcontent %}

{% endblock leftcontent %}

{% block topcontent %}
<div id="category-wrap">
<h3>This Week</h3>
<table class="categories-list">
	{% for c in category_week %}
	<tr>
		<td>
			<div id="percent-{{ c.id }}" class="cat-percent">
				<div id="percent-{{ c.id }}-label" class="cat-label" percent="{{ c.spendPercentCapped }}">{{ c.name }}
				<span>{{ c.getSpend }} € of {{ c.budget }} ({{ c.remainingBudget }} € remaining)</span></div>
			</div>
			</td>
	</tr>
	{% endfor %}
</table>

<h3>This Month</h3>
<table class="categories-list">
	{% for c in category_month %}
	<tr>
		<td>
			<div id="percent-{{ c.id }}" class="cat-percent">
				<div id="percent-{{ c.id }}-label" class="cat-label" percent="{{ c.spendPercentCapped }}">{{ c.name }}
				<span>{{ c.getSpend }} € of {{ c.budget }} ({{ c.remainingBudget }} € remaining)</span></div>
			</div>
			</td>
	</tr>
	{% endfor %}
</table>

<h3>This Year</h3>
<table class="categories-list">
	{% for c in category_year %}
	<tr>
		<td>
			<div id="percent-{{ c.id }}" class="cat-percent">
				<div id="percent-{{ c.id }}-label" class="cat-label" percent="{{ c.spendPercentCapped }}">{{ c.name }}
				<span>{{ c.getSpend }} € of {{ c.budget }} ({{ c.remainingBudget }} € remaining)</span></div>
			</div>
			</td>
	</tr>
	{% endfor %}
</table>
</div>

<script>
$(function() {
	Opencrunch.Categories.showPercentage();
});
</script>
{% endblock topcontent %}