{% extends "ocaccounts/outer.html" %}

{% block title %}Dashboard : Opencruch{% endblock %}

{% block leftcontent %}
	<div id="dash-stats" class="box">
		<table>
			<tr class="dash-stats-budget"><th>Monthly Budget Remaining:</th><td>{{ safespend }} €</td></tr>
			<tr class="dash-stats-balance"><th>Total Balance:</th><td>{{ totalbalance }} €</td></tr>
		</table>
	</div>
	<div id="dash-budgets">
		
	</div>
{% endblock leftcontent %}

{% block rightcontent %}
	<div id="dash-tasks">
		<ul class="blockmenu">
			<li class="dash-tasks-purchase">
				<a href="{% url 'ocaccounts:newpurchase' %}" class="modal" title="New Purchase">
					<span class="ui-icon ui-icon-box"></span>New Purchase</a>
			</li>
			<li class="dash-tasks-payment">
				<a href="{% url 'ocaccounts:newpayment' %}" class="modal" title="New Payment">
					<span class="ui-icon ui-icon-creditcard"></span>New Payment</a>
			</li>
			<li class="dash-tasks-statement">
				<a href="{% url 'ocaccounts:importstatement' %}" class="modal" title="Import Statement">
					<span class="ui-icon ui-icon-file-table"></span>Import Statement</a>
			    <div class="import-statement">
	            {% if form.errors %}
	              <p class="ui-state-error">{{ error_message }}</p>
	            {% endif %}

              <form action="{% url 'ocaccounts:importstatement' %}" method="post" enctype="multipart/form-data" class="modal">
	              {% csrf_token %}
	              <table>
		              {{ form.as_table }}
	              </table>
		            <input type="submit" value="Import Cajamar CSV File" />
	            </form>
            </div>
			</li>
		</ul>
	</div>
{% endblock rightcontent %}
