{% extends "ocaccounts/outer.html" %}

{% block title %}Lista de Cuentas : Opencruch{% endblock %}

{% block leftcontent %}
<div id="tabs">
  <ul>
    <li><a href="#tabs-1">Sumario</a></li>
    <li><a href="#tabs-2">Todo</a></li>
  </ul>
  <div id="tabs-1">
  	<div id="entities-favs" class="box">
		<ul class="contact-list">
		{% for e in favs %}
			<li class="e-{{ e.status }} id_{{ e.id }}" id="f{{ e.id }}">
				<span class="ui-icon ui-icon-{{ e.icon }}"></span>{{ e.name }} <span class="ent-bal">{{ e.balance }} €</span>
			</li>
		{% endfor %}
		</ul>
	</div>
	<div id="entities-creditors">
		<ul class="contact-list">
		{% for e in creditors %}
			<li class="e-{{ e.status }} id_{{ e.id }}" id="c{{ e.id }}">
			<span class="ui-icon ui-icon-{{ e.icon }}"></span>{{ e.name }} <span class="ent-bal">{{ e.balance }} €</span>
		</li>
		{% endfor %}
		</ul>
	</div>
	<div id="entities-debtors">
		<ul class="contact-list">
		{% for e in debtors %}
			<li class="e-{{ e.status }} id_{{ e.id }}" id="d{{ e.id }}"><span class="ui-icon ui-icon-{{ e.icon }}"></span>{{ e.name }} <span class="ent-bal">{{ e.balance }} €</span>
		</li>
		{% endfor %}
		</ul>
	</div>
  </div>
  <div id="tabs-2">
  	<div id="entities-other">
		<ul class="contact-list">
		{% for e in all %}
			<li class="e-{{ e.status }} id_{{ e.id }}" id="{{ e.id }}"><span class="ui-icon ui-icon-{{ e.icon }}"></span>{{ e.name }} <span class="ent-bal">{{ e.balance }} €</span>
		</li>
		{% endfor %}
		</ul>
	</div>
  </div>
</div>
{% endblock leftcontent %}

{% block rightcontent %}
	<div id="entities-history">
		<table>
			<tr>
				<th>Fecha</th>
				<th>Descripción</th>
				<th>Cantidad</th>
				<th>Categoría</th>
				<th>Saldo</th>
				<th></th>
			</tr>
			<tr class="entities-history-template">
				<td>_date_</td>
				<td>_description_</td>
				<td>_amount_</td>
				<td>_category_</td>
				<td>_balance_</td>
				<td><span class="ui-icon ui-icon-trash charge-delete"></span></td>
			</tr>
		</table>
	</div>
{% endblock rightcontent %}

