{% extends "ocaccounts/outer.html" %}

{% block leftcontent %}
<div id="tabs">
  <ul>
    <li><a href="#tabs-1">Summary</a></li>
    <li><a href="#tabs-2">All</a></li>
  </ul>
  <div id="tabs-1">
  	<div id="entities-favs" class="box">
		<ul class="contact-list">
		{% for e in favs %}
			<li class="e-{{ e.status }}" id="f{{ e.id }}"><span class="ui-icon ui-icon-{{ e.icon }}"></span>{{ e.name }} <span>{{ e.balance }} €</span></li>
		{% endfor %}
		</ul>
	</div>
	<div id="entities-creditors">
		<ul class="contact-list">
		{% for e in creditors %}
			<li class="e-{{ e.status }}" id="c{{ e.id }}"><span class="ui-icon ui-icon-{{ e.icon }}"></span>{{ e.name }} <span>{{ e.balance }} €</span></li>
		{% endfor %}
		</ul>
	</div>
	<div id="entities-debtors">
		<ul class="contact-list">
		{% for e in debtors %}
			<li class="e-{{ e.status }}" id="d{{ e.id }}"><span class="ui-icon ui-icon-{{ e.icon }}"></span>{{ e.name }} <span>{{ e.balance }} €</span></li>
		{% endfor %}
		</ul>
	</div>
  </div>
  <div id="tabs-2">
  	<div id="entities-other">
		<ul class="contact-list">
		{% for e in all %}
			<li class="e-{{ e.status }}" id="{{ e.id }}"><span class="ui-icon ui-icon-{{ e.icon }}"></span>{{ e.name }} <span>{{ e.balance }} €</span></li>
		{% endfor %}
		</ul>
	</div>
  </div>
</div>
{% endblock leftcontent %}

{% block rightcontent %}
	<div id="entities-history">
		<table>
			<tr>
				<th>Date</th>
				<th>Description</th>
				<th>Amount</th>
				<th>Balance</th>
			</tr>
			<tr class="entities-history-template">
				<td>_date_</td>
				<td>_description_</td>
				<td>_amount_</td>
				<td>_balance_</td>
			</tr>
		</table>
	</div>
{% endblock rightcontent %}

