{% extends "ocaccounts/outer.html" %}

{% block title %}Pre : Opencruch{% endblock %}

{% block leftcontent %}

{% endblock leftcontent %}

{% block topcontent %}
<div id="category-wrap">
<h2>General Report - December 2018 to June 2019</h2>

<h3>Total Spending: €{{ total_spend }}</h3>

<h3>Spending by Category</h3>
<table class="categories-list">
	{% for c in category_month %}
	<tr class="cat_{{ c.id }}">
		<td>
			<div id="percent-{{ c.id }}" class="cat-percent">
				<div id="percent-{{ c.id }}-label" class="cat-label" percent="{{ c.spendPercentCapped }}">{{ c.name }}
				  <span class="cat-bar-edit">
			      <a class="ui-icon ui-icon-calendar category-items modal" title="Charges in Category" href="{% url 'ocaccounts:chargeslist' %}?category={{ c.id }}"></a>
			      <a class="ui-icon ui-icon-pencil category-edit modal" title="Edit Category" href="{% url 'ocaccounts:editcategory' c.id %}"></a>
			      <span class="ui-icon ui-icon-trash category-delete" cid="{{ c.id }}"></span>
			    </span>
				  <span class="cat-bar-text">{{ c.getGRSpend }} € of {{ c.getGRBudget }}</span>
			  </div>
			</td>
	</tr>
	{% endfor %}
</table>

<script>
$(function() {
	Opencrunch.Categories.showPercentage();
});
</script>
{% endblock topcontent %}
