{% extends "ocaccounts/outer.html" %}

{% block title %}Pre : Opencruch{% endblock %}

{% block leftcontent %}

{% endblock leftcontent %}

{% block topcontent %}
<div id="category-wrap">
<h2>General Report - December 2018 to June 2019</h2>

<h3>Total Spending: €{{ total_spend }}</h3>

<h3>Spending by Category</h3>
<table class="categories-list">
	{% for c in category_month %}
	<tr class="cat_{{ c.id }}">
		<td>
			<div id="percent-{{ c.id }}" class="cat-percent">
				<div id="percent-{{ c.id }}-label" class="cat-label" percent="{{ c.spendGRProportion }}">{{ c.name }}
				  <span class="cat-bar-text">{{ c.getGRSpend }}€ <!--({{ c.getGRBudget }}€ budget total)--></span>
			  </div>
			</td>
	</tr>
	{% endfor %}
	<tr class="eob">
		<td>
			<div id="percent-eob" class="cat-percent">
				<div id="percent-eob-label" class="cat-label" percent="{{ eob_pc }}">Out of Budget
				  <span class="cat-bar-text">{{ eob_spend }}€</span>
			  </div>
			</td>
	</tr>
</table>

<h3>Spending by Source</h3>


<script>
$(function() {
	Opencrunch.Categories.showPercentage();
});
</script>
{% endblock topcontent %}
