{% extends "ocaccounts/outer.html" %}

{% block topcontent %}
<table class="report-table" id="report-list">
  <tr>
    <th>Report</th>
    <th>Description</th>
  </tr>
  <tr>
    <td><a href="{% url 'ocaccounts:outofbudget' %}">Out of budget</a></td>
    <td>Purchases this month that are not included in a budget category</td>
  </tr>
  <tr>
    <td><a href="{% url 'ocaccounts:entitiesdump' %}">Entities Table</a></td>
    <td>View or download full list of accounts and balances</td>
  </tr>
  <tr>
    <td><a href="{% url 'ocaccounts:categoriesdump' %}">Categories Table</a></td>
    <td>View or download list of budget / accounting categories</td>
  </tr>
  <tr>
    <td><a href="{% url 'ocaccounts:chargesdump' %}">Charge Table</a></td>
    <td>View or download full list of charges and transactions</td>
  </tr>
  <tr>
    <td><a href="{% url 'ocaccounts:monthlyreport' 1 %}">Monthly Report</a></td>
    <td>View a report for a specific month</td>
  </tr>
  <tr>
    <td><a href="{% url 'ocaccounts:generalreport' %}">General Report</a></td>
    <td>Custom Report</td>
  </tr>
</table>
{% endblock topcontent %}

Transaction Selector -> List
					 -> By category
					 -> By beneficiary
