@import url(../admin/css/fonts.css);

body {
  background-color: #111;
  font-family: "Roboto","Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
  padding: 0px;
  margin: 0px;
}

.overwrap {
  background-color: whitesmoke;
  margin-top: 1px;
  padding-bottom: 1em;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.notop {
	margin-top: 0px;
}

.top-menu {
  background-color: #00A7FF;
  margin: 0px;
  padding: 0px;
  padding-left: 1em;
  border-bottom: 2px solid black;
}

.top-menu p {
  float: right;
  margin-right: 2em;
  color: whitesmoke;
  font-size: 0.8em;
}

.top-menu p a {
  display: block;
  text-align: center;
  color: whitesmoke;
  text-decoration: none;
}

.top-menu p a:hover {
  text-decoration: underline;
}

.top-menu ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.top-menu ul li {
  float: left;
  background-color: whitesmoke;
  margin-left: 1em;
  border-left: 2px solid black;
  border-right: 2px solid black;
  text-align: center;
  overflow: hidden;
  box-shadow: inset 2px 2px 2px 0px rgba(0,0,0,0.75);
}

.top-menu ul li a {
  text-decoration: none;
  font-weight: bold;
  color: black;
  width: 6em;
  padding: 0.8em 1.5em;
  display: block;
}

.top-menu ul li a:hover {
  background-color: #003480;
  color: white;
  box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,0.75);
}

.top-menu ul li a .ui-icon {
  display: block;
  margin: auto;
}

/* Standard forms */

input[type=text], #topbox input[type=password], input[type=email], input[type=date], input[type=number], textarea, select {
  background-color: transparent;
  border: none;
  color: black;
  padding: 0px;
  border-bottom: 1px dashed grey;
  height: 1.2em;
  padding: 0.2em;
}

textarea {
  height: 1.2em;
  padding: 0.2em;
}

#toppane {
	width: 98%;
	margin: 1em auto;
}

#toppane:empty {
	width: 98%;
	margin: 0px auto;
}

#leftpane {
	width: 35%;
}

#rightpane {
	width: 58%;
}

.pane {
  margin-top: 2em;
  float: left;
  padding-left: 1%;
}

#topbox {
  width: 30em;
  margin: 2em auto;
  padding: 2em;
  border: 2px solid black;
}

#topbox table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 0.5em;
}
#topbox table tr td {
  padding: 0.5em;
}

#rightpane {
}

/* Specific widgets */
#dash-stats {
  width: 100%;
}

#dash-stats table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 4px 4px 2px 0px rgba(0,0,0,0.55);
}

#dash-stats tr th,#dash-stats tr td {
  padding: 1em;
  margin: 0px;
}

#dash-stats tr th {
  text-align: left;
}

#dash-stats tr td {
  text-align: right;
}

.dash-stats-budget th {
  background-color: #0067FF;
  color: whitesmoke;
  text-shadow: 1px 1px black;
}

.dash-stats-budget td {
  background-color: #7A8FFF;
  color: black;
  font-weight: bold;
}

.dash-stats-balance th {
  background-color: #5800FF;
  color: whitesmoke;
  text-shadow: 1px 1px black;
}

.dash-stats-balance td {
  background-color: #A87AFF;
  color: black;
  font-weight: bold;
}

.blockmenu {
  list-style: none;
  margin-top: 0px;
}

.blockmenu li {
  margin-bottom: 0.2em;
}

.blockmenu li:nth-child(2n-1) a {
  background-color: #ddddff;
}

.blockmenu li:nth-child(2n) a {
  background-color: #ffdddd;
}

.blockmenu li a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: blue;
  padding: 1em;
}

.blockmenu li a span {
  margin-right: 1em;
}

.blockmenu li a:hover {
  color: whitesmoke;
  background-color: #003eff;
}

.contact-list {
  margin: 0px;
  padding: 0px;
}

.contact-list li {
  display: block;
  background-color: #eee;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 2em;
  padding-right: 2em;
  margin-top: 0.4em;
  box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.55);
  cursor: pointer;
  border: 2px solid transparent;
}

.contact-list li:hover {
	border: 2px solid black;
}

.contact-list li span {
  text-align: right;
  float: right;
}

.contact-list li.e-C {
  background-color: #ddffdd;
}

.contact-list li.e-D {
  background-color: #ffddff;
}

#entities-history {
  background-color: #ddddff;
  padding: 1em;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.55);
}

#entities-history table {
  width: 100%;
  border-collapse: collapse;
}

#entities-history table tr th {
  text-align: left;
}

#entities-history table tr th:nth-child(1){
	width: 6em;	
}

#entities-history table tr th:nth-child(3){
	width: 6em;	
}

#entities-history table tr th:nth-child(3){
  text-align: right;
  padding-right: 1em;
}

#entities-history table tr th:nth-child(4){
	text-align: left;	
}

#entities-history table tr th:nth-child(5){
  text-align: right;
  padding-right: 1em;
}

#entities-history table tr td:nth-child(3){
  text-align: right;
  padding-right: 1em;
}

#entities-history table tr td:nth-child(5){
  text-align: right;
  padding-right: 1em;
}

#entities-history table tr td:nth-child(3):after{
  content: ' €'
}

#entities-history table tr td:nth-child(4){
	text-align: left;	
}

#entities-history table tr td:nth-child(5):after{
  content: ' €'
}

#entities-history table tr {
  border-bottom: 1px solid black;
}

#entities-history table tr td {
  padding: 0.2em 0px;
}

#entities-history table tr td:last-child {
  text-align: right;
}

.categories-list {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.55);
  background-color: #666;
}

.categories-list tr td {
  position: relative;
}

.cat-label {
  width: 96%;
  top: 0.5em;
  left: 3%;
  right: 3%;
  font-weight: bold;
  text-shadow: 1px 1px 0 #fff;
  position: absolute;
  text-align: left;
}

.cat-label span {
  float: right;
  text-align: right;
  padding-right: 3%;
}

.categories-list .ui-progressbar {
  background-color: #eeffee;
}

.categories-list .ui-progressbar-value {
  background-color: #AAeeAA;
  box-shadow: inset 2px 2px 1px 0px rgba(255,255,255,0.65);
}

.categories-list .ui-progressbar-complete {
  background-color: #ffaaaa;
}

.contact-list li span.ui-icon {
  float: none;
  padding-right: 3em;
  font-size: 1.2em;
  margin-top: -0.3em;
}

body .ui-dialog-titlebar {
  background-color: #00A7FF;
  color: white;
  text-shadow: 1px 1px black;
  box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.75);
}

body .ui-dialog {
  background-color: #ddffff;
}

.new-purchase {
  
}

body .ui-dialog table {
  border-collapse: collapse;
  width: 100%;
}

body .ui-dialog table tr {

}

body .ui-dialog table th {
  text-align: left;
}

body .ui-dialog input[type=submit]{
  margin-top: 1em;
}

body .ui-dialog input, select, textarea {
  width: 100%;
  height: 2em;
}

#entities-history {
	display: none;
} 

.charge-delete {
	cursor: pointer;
}

#out-of-budget td:nth-child(4) {
  text-align: right;
}

#out-of-budget th:nth-child(4) {
  text-align: right;
}

#out-of-budget td:nth-child(4):after {
  content: " €"
}

.report-table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.75);
  border: 2px solid black;
}

.report-table th {
  border-bottom: 1px solid black;
  text-align: left;
  padding: 0.5em 0.5em;
}

.report-table td {
  border: 1px solid #ccc;
  padding: 0.5em;
}

.report-table td a {
  display: block;
  margin: 1em auto;
}

.report-table .ui-icon {
	padding-right: 1em;
}

#report-list td:nth-child(1){
  width: 12em;
}

#entities-dump td:nth-child(3), #entities-dump td:nth-child(4),
#entities-dump th:nth-child(3), #entities-dump th:nth-child(4) {
	text-align: right;
	padding-right: 0.5em;
}

#categories-dump td:nth-child(2), 
#categories-dump th:nth-child(2) {
	text-align: right;
	padding-right: 0.5em;
}

#charges-dump td:nth-child(3), 
#charges-dump th:nth-child(3) {
	text-align: right;
	padding-right: 0.5em;
}

#category-wrap {
  width: 70%;
  margin: 1em auto;
}

#category-wrap h3 {
  text-shadow: 1px 1px 0 #ccc;
  width: 100%;
  border-bottom: 2px solid black;
}
